@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* sidebar styles */
  .nav-link {
    @apply flex space-x-4 items-center rounded-md p-2 hover:scale-[1.02] transition-all duration-150 ease-in-out hover:text-slate-800 hover:bg-emerald-400 dark:hover:bg-indigo-400 dark:hover:text-white
  }

  .nav-link-active {
    @apply text-slate-800 bg-emerald-400 dark:bg-indigo-400 dark:text-white;
  }

  /* form styles */

  .form-label {
    @apply text-sm text-gray-700 dark:text-white;
  }

  .form-input {
    @apply w-2/3 text-slate-600 py-1 px-2 rounded-full text-sm dark:bg-indigo-100 placeholder-slate-400 placeholder:text-sm;
  }

  .form-input:focus {
    @apply outline-none ring-2 ring-emerald-400 dark:ring-indigo-400;
  }

  .form-input-error {
    @apply w-2/3 text-slate-600 py-1 px-2 rounded-full text-sm dark:bg-indigo-100 placeholder-slate-400 placeholder:text-sm ring-2 ring-red-300 dark:ring-red-400;
  }

  .form-input-error:focus {
    @apply outline-none ring-2 ring-rose-300 dark:ring-rose-400;
  }

  .cta-btn {
    @apply px-4 py-2 text-sm rounded-full bg-emerald-600 dark:bg-indigo-600 text-white hover:bg-emerald-700 dark:hover:bg-indigo-700;
  }

  /* table styles */

  .table-header-row {
    @apply bg-emerald-400 dark:bg-indigo-400;
  }

  .table-header-row th {
    @apply font-semibold py-2 border-4 border-white dark:border-slate-700;
  }

  .table-body-row {
    @apply bg-slate-200 text-gray-500 even:bg-emerald-200 dark:even:bg-indigo-200 hover:text-white hover:bg-orange-300 dark:hover:bg-sky-400 cursor-pointer transition-all duration-150 ease-in-out;
  }

  .table-body-row td {
    @apply py-2 border-4 border-white dark:border-slate-700 text-sm;
  }

  .info-table-header-row {
    @apply bg-emerald-400 dark:bg-indigo-400;
  }

  .info-table-body-row {
    @apply bg-slate-200 text-gray-500 even:bg-emerald-200 dark:even:bg-indigo-200;
  }

  .info-table-header-row th, .info-table-header-row td, .info-table-body-row th, .info-table-body-row td {
    @apply p-2 border-4 text-xs text-gray-500 border-gray-600;
  }

  .info-table-header-row th {
    @apply dark:text-gray-200;
  }
}
